.overlay{
    /* Center contentbox */
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
}

.contentbox{
    /* Coloring */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0, 0.4); /* Black w/opacity/see-through */
    color: white;
    /* Centering the content */
    display: flex;
    align-items: center;
    flex-direction: column;

    /* box sizing */
    width: 90%;
    border-radius: 5px;
}

.contentbox.loggedin {
    height: 90%;
    margin-top: 10px;
    margin-bottom: 10px;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Scrollbar */
.contentbox::-webkit-scrollbar {
        width: 0.5vh;
    }
.contentbox::-webkit-scrollbar-thumb {
        background: rgba(0,0,0,1.2);
    }

/* Background image and blur */
%pseudo-block{
    overflow: hidden;
    content: "";
    position: fixed;
    left: 0;
    right: 0;
    top:0;
    z-index: -1;
    display: block;
    background-image: url('images/background.jpeg');
    background-size:cover;
    background-position-x: 70%;
    width: 100%;
    height: 100%;
}
.contentbox.loggedin:before{
    @extend %pseudo-block;
}
.contentbox.logout:before {
    @extend %pseudo-block;
    -webkit-filter: blur(25px);
    -moz-filter: blur(25px);
    -o-filter: blur(25px);
    -ms-filter: blur(25px);
    filter: blur(25px);
}

@media (max-width: 650px) {
    %pseudo-block {
        background-image: url("images/background650.jpeg");
    }
}

img {
    float: right;
    margin: 0 0 0 15px;
    width: 40%;
}


.logoutbtn {
    color: gray;
    font-size: 14px;
    margin-top: 2vh;
    &:hover{
        color: blue;
        text-decoration: underline;
        cursor: pointer;
    }
}

.btn {
    background-color:transparent;
    color: white;
    margin: 10px;
    margin-bottom: 1vh;
    box-sizing: content-box;
    padding: 5px 10px;
    height: 20px;
    border: 2px solid #f1f1f1;
    border-radius: 25px;
    display: inline-block;
    width: min(70%, 300px);
    &:hover,&:focus-visible  {
        background: rgba(128, 128, 128, 0.7);
        cursor: pointer;
    }
}
.submit {
    margin: 30px;
    margin-bottom: 5vh;
    padding: 15px 32px;
    height: 100px;
}

.icon-enter {
     opacity: 0;
 }
.icon-enter-active {
    opacity: 1;
    transition: opacity 2000ms;
}
.icon-exit {
    opacity: 1;
}
.icon-exit-active {
    opacity: 0;
    transition: opacity 2000ms;
}

.footer {
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
    position:fixed;
    bottom:0;
    width:100%;
}


p{
    margin:5vh;
    width: min(90%,500px);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

.poem{
    margin:5vh;
    width: min(90%,500px);
    text-align: center;
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
}

h1{
    font-family: 'Dancing Script', cursive;
    font-size: 400%;
}
h2{
    font-family: 'Dancing Script', cursive;
    font-size: xxx-large;
}
h3{
    font-family: 'Dancing Script', cursive;
    font-size: xxx-large;
}
.contenttitle{
    font-family: 'Dancing Script', cursive;
    font-size: x-large;
    text-align: center;
    color: white;
}