.mainDiv {
    justify-content: center;
    align-items: center;
    background-image: url('./background.jpeg');
    filter: blur(10px);
    -webkit-filter: blur(10px);
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}